mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: 0 auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  margin: 10px 0px;
  height: 5rem;
  width: 1rem 0;

  img {
    height: 100%;
  }
}