:host {
  margin-top: 1rem;
  display: block;
}

.post-list-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.post-card {
  max-width: 400px;
  margin: 0 15px 20px;
}

.info-text {
  text-align: center;
}

mat-spinner {
  margin: 0 auto;
}

.post-image {
  width: 100%; 

  img {
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  }
}

mat-paginator {
  margin-top: 1rem;
}