main {
  width: 80%;
  margin: 1rem auto;
}

@for $i from 1 through 40 {
  @if $i % 5 == 0 {
    .p-#{$i} {
      padding: #{$i}px;
    }

    .p-#{$i}-0 {
      padding: #{$i}px 0px;
    }

    .p-0-#{$i} {
      padding: 0px #{$i}px;
    }

    .p-b-#{$i} {
      padding-bottom: #{$i}px;
    }

    .p-r-#{$i} {
      padding-right: #{$i}px;
    }

    .p-l-#{$i} {
      padding-left: #{$i}px;
    }

    .p-t-#{$i} {
      padding-top: #{$i}px;
    }
  }
}

@for $i from 1 through 40 {
  @if $i % 5 == 0 {
    .m-#{$i} {
      margin: #{$i}px;
    }

    .m-#{$i}-0 {
      margin: #{$i}px 0px;
    }

    .m-0-#{$i} {
      margin: 0px #{$i}px;
    }

    .m-t-#{$i} {
      margin-top: #{$i}px;
    }

    .m-b-#{$i} {
      margin-bottom: #{$i}px;
    }

    .m-r-#{$i} {
      margin-right: #{$i}px;
    }

    .m-l-#{$i} {
      margin-left: #{$i}px;
    }
  }
}

.m-0 {
  margin: 0px;
}

.is-width {

  &.full-width {
    width: 100%
  }
}

.m-auto {
  margin: auto;
}

@for $i from 1 through 10 {

  .z-index-above-#{$i} {
    z-index: #{$i}
  }
}

.full {

  &-width {
    width: 100%;
  }

  &-height {
    height: 100%;
  }
}

@for $i from 1 through 40 {
  @if $i % 5 == 0 {

    .m-xs-#{$i} {
      @media (max-width: 768px) {
        margin-bottom: #{$i}px !important;
      }
    }

    .m-sm-#{$i} {
      @media (max-width: 992px) {
        margin-bottom: #{$i}px !important;
      }
    }

    .m-md-#{$i} {
      @media (max-width: 1200px) {
        margin-bottom: #{$i}px !important;
      }
    }

    .m-lg-#{$i} {
      @media (min-width: 1200px) {
        margin-bottom: #{$i}px !important;
      }
    }
  }
}